@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>Web Blotter</h1>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>


        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>*@
@section SPAViews {
    @Html.Partial("_Home")
}

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

