@*@model  IEnumerable<WebBlotter.Models.SP_GetOPICSManualData_Result>*@

@if (ViewBag.FillBlotterManualData != null)
{
    <h3>Amount in Million</h3>
    <table id="BreakupsOpeningBalanceTable" class="table table-striped table-bordered table-hover ">
        <thead>
            <tr>
                <th>Data</th>
                <th>InFlow</th>
                <th>OutFlow</th>
                <th>NetBalance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.FillBlotterManualData)
            {
                <tr>
                    <td> @item.DataType</td>
                    <td class="">@item.Inflow.ToString("#,##0,,")</td>
                    <td class="">@item.OutFlow.ToString("#,##0,,")</td>
                    <td class="">@item.NetBalance.ToString("#,##0,,")</td>
                </tr>
            }
        </tbody>
    </table>
}
